/* 
  class & id: attributes to make any HTML tag unique
  
  One page, one class, multiple times
  One page, one id, one time


  One tag, maximum One id
  One tag, as many classes

*/



/* h1{
  color: red;
}

p{
  color: green;
}

#red{
  color: red;
}

.red{
  color: red;
} */


/* RULE: 
id > class > tag 

LAST COMES FIRST

*/



/* p{
  color: blue;
}

.p1{
  color: yellow;
} */


/* p{
  color: red;
}
p{
  color: green;
}
p{
  color: yellow;
}
p{
  color: blue;
} */

/* .red{color: red;}

.yellow{color: yellow;}
.green{color: green;}
.blue{color: blue;} */



/* Background Properties:

  background-color
  background-image
  background-repeat: repeat-y
  background-attachment: scroll | fixed
  background-position: top left
  background-size: contain | cover

  SHORTHAND: 
  background: black url(images/unsplh2.jpg) no-repeat fixed center / cover;
*/

/* Text Properties:
color: Hexadecimal value  */
/* black, #000000, rgb(0,0,0)
white, #ffffff, rgb(255,255,255)
red, #ff0000, rgb(255,0,0)
green, #00ff00, rgb(0,255,0)
blue, #0000ff, rgb(0,0,255) */




/* Hexadecimal: 0,1,2,3,4,5,6,7,8,9,a,b,c,d,e,f */

/* #ff0000 = #f00 */

/* #0000ff = #00f
#00ff00 = #0f0 */


/* #ffffff = #fff */
/* #000000 = #000 */


/* RGB value: 0,1,2,3,4.......255

rgb(255,0,0)
rgb(0,255,0)
rgb(0,0,255)
rgb(0,0,0)
rgb(255,255,255) */



/* #00 00 ff   #00f */


body{
  /* background-color: #3b5998; */

  /* a = alpha | transparency */

  background-color: rgba(0,255,0,1);
}