* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
  background: #00b09b;
  background: -webkit-linear-gradient(to right, #96c93d, #00b09b);
  background: linear-gradient(to right, #96c93d, #00b09b);
}

#wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 60%;
  margin: 0 auto;
}

.tabs {
  margin-bottom: 1rem;
}

#wrapper a {
  text-decoration: none;
  padding: 10px;
  color: #000;
}

.tabs a.active {
  border: 2px solid blue;
  background-color: blue;
  border-radius: 10px;
  box-shadow: 2px 3px 3px 2px rgb(0, 0, 0, 0.3);
  color: white !important;
}

.con {
  border: 1px solid;
  padding: 1rem;
  display: none;
}

.con h2 {
  padding-bottom: 0.rem;
}

.con.active {
  display: block;
}