*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.row{
    margin: 1rem;
}
.row .movies{
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
}
.row .movies::-webkit-scrollbar{
    display: none;
}
.row.bigger .movies img{
    width: 150px;
}
.row .movies img{
    width: 100px;
    margin: 5px;
}